* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  /* share styles */
  .flex{
    display: flex;
  }
  a{
    text-decoration: none;
  }
  .btn-primary {
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    cursor: pointer;
  }


/* nav section */
.nav-container {
  display: flex;
  
  margin: 18px 120px;
}
.list {
  align-items: center;
}
.list-item{
  list-style-type: none;
  margin: 0 345px;
  gap: 34px;
  
}
.nav-btn{
  height: 44px;
  width: 164px;
 }

 /* Banner section */

 .banner {
  padding: 70px 120px 134px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 674px;
  width: 1600px;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  gap: 30px;
  text-align: center;
 }
 .caption{
  color: white;
  font-size: 72px;
  font-weight: 700;
 }

 .text-color{
  color: rgba(48, 184, 104, 1);
 }
 .hero-btn1{
  width: 251px;
  height: 52px;
  border-radius: 4px;
 }
 .hero-btn2{
  width: 198px;
  height: 52px;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
 }

 header section div{
  gap: 10px;
 }
 header section p{
  color: #FFFFFF;
 }